.container2 {
  margin-top: 50px;
}
#followus i {
  font-size: 2.3em;
  margin: 3px;
  color: white;
}
* {
  font-family: Georgia, "Times New Roman", Times, serif;
}
html {
  scroll-behavior: smooth;
}
.card {
  opacity: 0.8;
  font-weight: bold;
  letter-spacing: 3.5px;
  max-width: 50%;
  background-color: rgb(25, 25, 34);
  margin: 0px auto;
}
