body {
  background-color: #2193b0;
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
  background: linear-gradient(to right, #6dd5ed, #2193b0);
}
.signinform {
  margin: 0px 37%;
}
html {
  scroll-behavior: smooth;
}

#followus i {
  font-size: 2.3em;
  margin: 3px;
  color: white;
}
